.custom-scrollbar-1::-webkit-scrollbar {
  width: 25px;
  border-radius: 10px;
}

.custom-scrollbar-1::-webkit-scrollbar-thumb {
  background-color: #3e4144;
  margin: 2px;
}

.custom-scrollbar-1::-webkit-scrollbar-track {
  background: #292d2f;
  width: 25px;
  border-radius: 10px;
}

/* Scrollbar style for the second div */
.custom-scrollbar-2::-webkit-scrollbar {
  width: 1px;
}

/* .custom-scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #ff5733; /* Different thumb color */
/* border-radius: 10px;
} */
/* 
.custom-scrollbar-2::-webkit-scrollbar-thumb:hover {
  background-color: #c70039;
} */

/* .custom-scrollbar-2::-webkit-scrollbar-track {
  background: #f0e68c; /* Different track color */
/* border-radius: 10px;
} */
